main img {
  width: 100%;
}
.p2grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}
.square1 {
  grid-column: 1/2;
  grid-row: 1/2;
}
.square2 {
  grid-column: 2/3;
  grid-row: 1/2;
}
.square3 {
  grid-column: 3/4;
  grid-row: 1/2;
}
.square4 {
  grid-column: 1/2;
  grid-row: 2/3;
}
.square5 {
  grid-column: 2/3;
  grid-row: 2/3;
}
.square6 {
  grid-column: 3/4;
  grid-row: 2/3;
}
.square7 {
  grid-column: 1/2;
  grid-row: 3/4;
}
.square8 {
  grid-column: 2/3;
  grid-row: 3/4;
}
.square9 {
  grid-column: 3/4;
  grid-row: 3/4;
}
.pricing {
  grid-column: 1/4;
  grid-row: 4/5;
}
.h2 {
  grid-column: 1/4;
  grid-row: 5/6;
  text-align: center;
}
.square10 {
  grid-column: 1/2;
  grid-row: 6/7;
}
.square11 {
  grid-column: 2/3;
  grid-row: 6/7;
}
.square12 {
  grid-column: 3/4;
  grid-row: 6/7;
}
.square13 {
  grid-column: 1/2;
  grid-row: 7/8;
}
.square14 {
  grid-column: 2/3;
  grid-row: 7/8;
}
.square15 {
  grid-column: 3/4;
  grid-row: 7/8;
}
.square16 {
  grid-column: 1/2;
  grid-row: 8/9;
}
.square17 {
  grid-column: 2/3;
  grid-row: 8/9;
}
.square18 {
  grid-column: 3/4;
  grid-row: 8/9;
}
